@import url("/home/adam/.cache/wal/colors-waybar.css");

@define-color textcolor @foreground;
@define-color back @foreground;

* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 14px;
    min-height: 0;
    color: @foreground;
}


window#waybar {
    background: alpha(@background, 0.7);
    color: white;
}

#taskbar {
    background-color: alpha(@foreground, 0.2);
	margin: 5px;
	margin-left: 10px;
	border-radius: 25px;
}

#taskbar button:hover {
	background-color: alpha(@color1,0.5);
	border-radius: 25px;
}

#workspaces {
	background-color: alpha(@foreground, 0.2);
	margin: 5px;
	margin-left: 10px;
	border-radius: 25px;
}

#workspaces button {
    padding: 0 10px;
    color: @textcolor;
}

#workspaces button.focused {
    color: #2e3440;
    background-color: #88c0d0;
    border-radius: 25px;
}

#workspaces button:hover {
	background-color: alpha(@color1,0.5);
	border-radius: 25px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: alpha(@foreground, 0.2);
	padding: 0px 10px;
	margin: 5px 0px;
    
}

#custom-date {
	color: #8fbcbb;
}

#custom-power {
	color: #2e3440;
	background-color: @color1;
	border-radius: 25px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px 10px;
}

#clock {
    color: #b48ead;
    border-radius: 0px 25px 25px 0px;
    margin-right: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
	color: #d08770;
}

#pulseaudio {
	color: #ebcb8b;
	border-radius: 25px 0px 0px 25px;
}
